.title,
.subtitle {
	text-align: center;
	font-size: 40px;
}

.backdrop {
	position: fixed;

	top: 0;
	left: 0;
	z-index: 1111111111111111111111111111111;

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;
	overflow: hidden;
	background-color: #00000095;
}
